gradio
gradio_client
PyGithub
openai
requests
pandas
pytest
pytest-cov
tiktoken
msal
rich
chevron
llama-index
llama-index-embeddings-huggingface
llama-index-readers-web
pypandoc
python-docx
markdown
jupyter
matplotlib
pydantic
textdistance
scipy
transformers
huggingface-hub
lxml_html_clean
beautifulsoup4
playwright
